/*Resume*/

.main-resume h1 {
  width: 90%;
  margin: auto;
  text-align: center;
}

.experience,
.education,
.skills {
  width: 90%;
  max-width: 500px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  @include flex(center, center, column);
  h3 {
    color: $blue-palette;
  }

  p {
    padding: 0 1rem 1rem 1rem;
  }
}

.skill-list {
  @include flex(center, center, row);
  img {
    width: 25px;
  }
}

#univda-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.hard-skills-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  padding: 2rem;
}

#fuoco-e-fiamme-logo {
  width: 95%;
  margin: auto;
  padding-bottom: 5%;
}
